body{margin:0;padding:0 0 12px 0;background:#fff;font-size:13px;line-height:22px;}
div,p,li{font-family:Verdana,婼;font-size:13px;}
form,ul,li,p,h1,h2,h3,h4,h5,h6{margin:0;padding:0;}
input,select{font-size:12px;line-height:16px;}
img{border:0;}
ul,li{list-style-type:none;}
li{font-size:13px;}
.tc{text-align:center;}.tl{text-align:left;}.tr{text-align:right;}
.dis{display:block;}.undis{display:none;}
.fl{float:left;}.fr{float:right;}.cl{clear:both;}
.fh{height:22px;}.fb{font-weight:bold;}.fnb{font-weight:200;margin-left:-1px;}
.fc30{color:#303030;font-family:"宋体";}.fchot{color:#ff0700}
.f11{font-size:12px;font-family:tahoma;}
h4{font-weight:200;font-size:13px;cursor:pointer;}
h4 a{width:100%;heihgt:100%;display:block;}
a{color:#00007F;text-decoration:none;}
a.lcblue{color:#0F479C;}
a.lchot{color:#bd0a01;}
.lchot{color:#bd0a01;}
body,html{width: 100%;min-height: 100%;font-size: 10px;}
.big{width: 100%;min-height: 100%;background: #e8e8e8;color: #666;position: relative;}
/*头部*/
.big header{width: 100%;height: 5rem;border-bottom: 0.1rem solid #e5e5e5;position: relative;background: #fff;}
.big header .back{height: 45%;position: absolute;left: 5%;top: 1.5rem;height: 35%;}
.big header .hd-name{width: 100%;height: 100%;line-height: 5rem;text-align: center;font-size: 1.6rem;}
/*中部列表*/
.center{width: 100%;min-height: 25rem;background: #fff;}
.center li{width: 95%;padding-left: 5%;height: 5rem;line-height: 5rem;background: url(../img/person/cnlistbg.png) no-repeat 96% 50%;background-size: 2.5%;border-bottom: 0.1rem solid #e5e5e5;overflow: hidden;}
.center li p{float: left;font-size: 1.4rem;color: #666;}

/*适配*/
@media (min-device-width : 320px) and (max-device-width : 359px) and (-webkit-min-device-pixel-ratio : 2){
		html{font-size: 10px;}
		.big .banneron .bn-bottom{margin-left: -2.2rem;}
		
		
}
@media (min-device-width : 360px) and (max-device-width : 374px) and (-webkit-min-device-pixel-ratio : 2){
		html{font-size: 10px;}
		.big .banneron .bn-bottom{margin-left: -2.2rem;}
		
		
		
}

@media (min-device-width : 375px) and (max-device-width : 383px) and (-webkit-min-device-pixel-ratio : 2){
		html{font-size: 10px;}
		
				
		
		
}
@media (min-device-width : 384px) and (max-device-width : 413px) and (-webkit-min-device-pixel-ratio : 2){
		html{font-size: 10px;}
		
			
		
		
}


@media (min-device-width : 414px) and (max-device-width : 736px) and (-webkit-min-device-pixel-ratio : 3){ 
		html{font-size: 10px;}
		
		
			
}
@media only screen and (min-width: 1029px) {
		html{font-size: 28.5px;}
		body{width: 750px;margin: 0 auto;}
		footer{width: 750px;}
		.content{padding-bottom: 10rem;}
		.save{margin-bottom: 4rem;margin-top: -3rem;}
		.big header .setup{width: 6rem;height:3rem;background-size: 30%;line-height: 3.5rem;
			background-position:10% 70%;}
		.sign ul li p{font-size: 1rem;}
		.big .banner .bn-img img{height: 55%;}
		.big header{width: 750px;}
		
}

